body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('c1027ad7-f2a4-45fa-98e4-7f9fd8ea4aa1'); /* Caminho da imagem (na mesma pasta) */
    background-size: cover; /* A imagem vai cobrir toda a 치rea da tela */
    background-position: center center; /* A imagem ser치 centralizada */
    background-attachment: fixed; /* A imagem ficar치 fixa ao rolar a p치gina */
}

.container {
    max-width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #218838;
}
